@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HopeRegistration.Models.TeacherModel;

<html>
<head>

    <style>
        .card-header {
            padding: 0rem !important; 
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: 2px solid rgb(126 14 14 / 13%);
        }
    </style>
</head>
<body>
    <form asp-action="Save">
        <div class="row">
            <div class="col-md-4">
                First Name
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="FirstName" maxlength="50" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                Last Name
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="LastName" maxlength="50" />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                Education
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="Education" maxlength="50" />
                <span asp-validation-for="Education" class="text-danger"></span>

            </div>
        </div>

        <div class="row" style="padding-top:25px">
            <div class="col-md-4">
                Subject
                <input type="text" class="form-control" asp-for="Subject" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Salary
                <input type="number" class="form-control" asp-for="Salary" />
            </div>
            <div class="col-md-4">
                Mobile
                <input type="text" class="form-control" asp-for="Mobile" maxlength="10" />
            </div>

        </div>
        <div class="row" style="padding-top:25px">
            <div class="col-md-4">
                Hire Date
                <input type="date" class="form-control" asp-for="HireDate" />
            </div>
            <div class="col-md-4">
                Gender
                <br />
                <input type="radio" class="custom-radio" asp-for="Gender" value="true" />Male
                <input type="radio" class="custom-radio" asp-for="Gender" value="true" />Female

            </div>
        </div>



       

        <div class="accordion" id="accordionExample" style="padding-top:25px">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Teacher Class Details
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-md-4">
                                Grade Number
                                <select class="form-control" asp-for="GradeNumberId" asp-items="@(new SelectList(ViewBag.GradeNumber,"GradeNumberId","Name"))">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                Section Number
                                <select class="form-control" asp-for="SectionId" asp-items="@(new SelectList(ViewBag.Section,"SectionNumberId","Name"))">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   
       
        </div>


        <div class="row" style="padding-top:25px">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Save Teacher</button>
            </div>
        </div>
    </form>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>